{% extends 'navbar1.html' %}
{% load static %}
{% block body1 %}

{% if error == "no" %}
     <script>
	   alert('New Customer has been Added...');
	   window.location=('{% url 'view_Customer' %}');
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
	    alert('Something went wrong, Try Again');
     </script>
{% endif %}

<div class="card shadow m-5">
    <div class="card-body">
      <h5 class="p-2" style="border-bottom: 2px solid orange">Add New Customer</h5>

      <div class="container-fluid">
        <form method="post" onsubmit="return MobileValidate()">
            {% csrf_token %}
          <div class="form-row">

            <div class="col-sm-6">
             <div class="form-group">
               <label>First Name</label>
               <input type="text" name="firstname" class="form-control" placeholder="Enter First Name" required>
             </div>
            </div>
             <div class="col-sm-6">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="lastname" class="form-control" placeholder="Enter Last Name" required>
              </div>
            </div>

           <div class="col-sm-12">
             <div class="form-group">
               <label>Contact</label>
               <input type="number" name="contact" class="form-control" placeholder="Enter Contact Number" pattern="[0-9]+" required>
             </div>
            </div>

            <div class="col-sm-12">
             <div class="form-group">
               <label>Email Id</label>
               <input type="email" name="email" class="form-control" placeholder="Enter Email Id" required>
             </div>
            </div>

            <div class="col-sm-12">
             <div class="form-group">
               <label>Address</label>
               <textarea name="address" class="form-control" rows="2"></textarea>

             </div>
            </div>

            <div class="col-sm-12">
             <div class="form-group">
               <label>City</label>
               <input type="text" name="city" class="form-control" placeholder="Enter City" required>
             </div>
            </div>

            <div class="col-sm-12">
             <div class="form-group">
               <label>State</label>
               <input type="text" name="state" class="form-control" placeholder="Enter State" required>
             </div>
            </div>
          </div>
          <hr>
        <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
		function MobileValidate() {
			var contact = document.getElementById("contact").value;
			var contactTenDigit = /^\d{10}$/;
			if (contact != '') {
				if (contact.match(contactTenDigit)) {
					return true;
				} else {
					alert("Enter Ten Digit Mobile Number");
					return false;
				}
			}
		}
</script>
{% endblock %}
