{% extends 'navbar1.html' %}
{% load static %}
{% block body1 %}

{% if error == "no" %}
     <script>
	   alert('New Bill has been Added...');
	   window.location=('{% url 'view_Bill' %}');
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
	    alert('Something went wrong, Try Again');
     </script>
{% endif %}

<script>
function calc()
    {

     var totalunits1 = document.getElementById("totalunit").value;

     var chargeperunit1 = document.getElementById("chargeperunit").value;
     var totalamount = parseInt(totalunits1)*parseInt(chargeperunit1);

     document.getElementById("finalamount").value = totalamount;
    }


    function calunits()
    {

     var currentreading1 = document.getElementById("currentreading").value;

     var previousreading1 = document.getElementById("previousreading").value;
     var totalunits = parseInt(currentreading1)-parseInt(previousreading1);

     document.getElementById("totalunit").value = totalunits;
    }
</script>

<div class="card shadow m-5">
    <div class="card-body">
      <h5 class="p-2" style="border-bottom: 2px solid orange">Add New Bill</h5>

      <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
          <div class="form-row">

            <div class="col-sm-12">
             <div class="form-group">
               <label>Consumer ID</label>
               <select name="connectionid" class="form-control">
					{% for i in connection1 %}
                        <option value="{{i.id}}">{{i.connectionid}}</option>
					{% endfor %}
			   </select>

             </div>
            </div>

            <div class="col-sm-12">
             <div class="form-group">
               <label>Bill For Month</label>
               <input type="text" name="billformonth" class="form-control" placeholder="Enter Bill For Month">
             </div>
            </div>

            <div class="col-sm-12">
             <div class="form-group">
               <label>Current Reading</label>
               <input type="text" name="currentreading" id ="currentreading" class="form-control" placeholder="Enter Current Reading">
             </div>
            </div>

            <div class="col-sm-12">
             <div class="form-group">
               <label>Previous Reading</label>
               <input type="text" name="previousreading" id="previousreading" class="form-control" onkeyup="calunits()">
             </div>
            </div>

            <div class="col-sm-12">
             <div class="form-group">
               <label>Total Unit</label>
               <input type="text" name="totalunit" id="totalunit" class="form-control" placeholder="Enter Total Unit">
             </div>
            </div>

            <div class="col-sm-12">
             <div class="form-group">
               <label>Charge Per Unit</label>
               <input type="text" name="chargeperunit" id="chargeperunit" class="form-control" onkeyup="calc()">
             </div>
            </div>

            <div class="col-sm-12">
             <div class="form-group">
               <label>Final Amount</label>
               <input type="text" name="finalamount" id="finalamount" class="form-control">
             </div>
            </div>

            <div class="col-sm-12">
             <div class="form-group">
               <label>Due Date</label>
               <input type="date" name="duedate" class="form-control">
             </div>
            </div>

          </div>
          <hr>
        <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>

{% endblock %}
