{% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

<title>Electricity Billing System</title>

<!-- Start Navigation -->
<nav class="navbar navbar-expand-sm navbar-light bg-dark">
  <div class="container">
  <a class="navbar-brand" href="#">
    <span style="color : red">Electricity</span>
    <span style="color : green">Billing</span>
    <span style="color : blue">System</span></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

   <div class="collapse navbar-collapse text-center" id="myMenu">
    <ul class="navbar-nav pl-5 custom-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'admin_login' %}">Admin Login</a></li>
    </ul>
   </div>
      <hr>
 </div>
</nav>


